doctype
html
	head
		title luisvilches
		meta(charset='utf-8')
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	body
		.container
			.row
				.col-md-12
					br
					br
					h1.text-center Menú
					br
					br
					.col-md-6
						a(href="/admin/addsite" class="btn btn-primary form-control") Agregar Sitio Web
					.col-md-6
						a(href="/admin/addskill" class="btn btn-primary form-control") Agregar Skills